body{
	font:12px;
}
h2 {
	text-align:center;
}

.footnote{
	font:10px;
}

.ask_sidebar{
	
}

.firstuse{

}

.author{

}

.commandname{

}

.method{

}

.emph{

}

.sidebar{

}

.ref{

}

.sect1{

}

.sect2{

}

.sect3{

}

.ic{

}

.rubyclass{

}

.constant{

}

.filename{

}

.keyword{

}

.ed{

}

.figure{

}

.imagedata{

}

.url{

}

table{

}

.code{

}


